.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
# OS-specific
.DS_Store

# Vagrant stuff
acceptance_config.yml
boxes/*
/Vagrantfile
/.vagrant
/website/docs/.vagrant
/website/www/.vagrant
/vagrant-spec.config.rb
