<p>
  Want to put something on the website? Fork the <a href="https://github.com/brightbit/okcjs">OKC.js Git Repo</a> and send a pull request!
  &mdash; <span class="credit">Site powered by <a href="http://octopress.org">Octopress</a></span>
</p>

<!-- GA Tracker Code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-359731-29']);
  _gaq.push(['_setDomainName', 'okcjs.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
